<!DOCTYPE html>
<html lang="fr">

<!-- Mirrored from www.gplocation.fr/mentions-legales.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Aug 2020 05:56:07 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
	<head>
		<title>Mentions légales | GP Location</title>
		<meta name="description" content="Les mentions légales du site de GP Location à la Réunion.    "/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="canonical" href="mentions-legales.html"/>
		<link rel="alternate" href="mentions-legales.html" hreflang="fr"/>
		<meta http-equiv="Content-Language" content="fr"/>
		<link rel="shortcut icon" href="img/favicon.ico"/>
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link href="css/style.1486544419.css%2cjquery-ui-1.8.20.custom.css%2chack.css%2cjquery-ui-1.8.18.custom.css%2cjquery.fancybox-1.3.4.css%2cforms.css%2cselect.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="js/jquery-1.7.1.min.js%2cjquery-ui-custom/js/jquery-ui-1.8.18.custom.min.js%2cjquery-ui-custom/js/datepicker-fr.js%2ccycle.js%2cjquery.scrollTo-min.j/jquery.fancybox-1.3.4.pack-2.js%2cjquery-u"></script>
		<script type="text/javascript">
		$(document).ready(function(){
		$(".aimglisting, .autotitre, .atextlisting").fancybox({
		'width'				: 800,
		'height'			: 480,
		'autoScale'			: false,
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'type'				: 'iframe',
		'overlayColor'		: '#000'
		});
		});
		</script>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div id="reduc" class="largeur"><span id="tel"></span>
					<a href="contact.html" class="lien right mright68">Contact</a>
					<a href="moncompte.html" class="lien right mright0">Espace client</a>
					<a href="index.html"><img src="template/gp-location/img/gp-location.png" width="304" height="70" alt="GP Location"/></a>      
				</div>
			</div>
				<script type="text/javascript">
					$('document').ready(function(){
						$("#boutonmenu").click(function()
							{
								$('#accordian').toggle();
									return false;
							});
					});
				</script>
			<div id="sousmenu">
				<div class="largeur">
					<a href="index.html" id="home"></a>
					<a id="boutonmenu" href="#"></a>
						<div id="accordian">
							<ul>
								<li><a href="location-voiture-aeroport-reunion.html">Aéroport de la Réunion Roland-Garros</a></li>
								<li><a href="location-voiture-sainte-marie.html">Sainte-Marie</a></li>
								<li class="right"><a href="conditions-generales-de-location.html">Conditions générales de location</a></li>
							</ul>
							<div class="clear"></div>
						</div>
				</div>
			</div>
				<div class="largeur paddingp pbottom20">
				<h1>Mentions légales</h1>	
				<h4>ÉDITEUR :</h4>
					<p>SARL GP Location, Siret : 482 868 478 000 17, SARL au capital de 20 000€<br /> Adresse : 34 Rue de la Plantation - 97438 Sainte-Marie<br /> Téléphone : 0692 370 380<br /> Adresse email : infos@gplocation.fr<br /> Directeur de publication : Vitry Jean François</p>
						<ul>
							<li> Conception / Réalisation du site : SpeedyWeb</li>
							<li> Hébergement : 1&amp;1 Internet SARL au capital de 100 000 euros RCS Sarreguemines B 431 303 775 – Code APE 6201Z<br />Siège social : 7, place de la Gare - BP 70109 - 57201 Sarreguemines Cedex - France</li>
						</ul>
				</div>
				<div class="clear"></div>    
			<div id="footer">
				<div class="largeur">
						<div class="grid_3 logobas">
							<span></span><p id="copy">© GP Location</p>
						</div>
							<div class="grid_3">
								<h5>Location de véhicules</h5>
									<ul>
										<li><a href="vehicules.html">Nos voitures</a></li>
										<li><a href="conditions-generales-de-location.html">Conditions générales de location</a></li>
										<li><a href="moncompte.html">Espace client</a></li>
									</ul>
							</div>
								<div class="grid_3 vcard">
									<img src="template/gp-location/img/gp-location.png" class="photo none" alt="GP Location"/>
									<h5 class="fn org">GP Location</h5>
										<div class="adr">
											<p class="street-adress">34 rue de la Plantation</p>
											<p class="tel">06 92 370 380</p>
											<p><span class="postal-code">97438</span> <span class="locality">Sainte Marie</span></p>
										</div>
											<ul>
												<li><a href="contact.html">Contact</a></li>
											</ul>
								</div>
									<div class="grid_3">
										<h5>Prise en charge</h5>
											<ul>
												<li><a href="location-voiture-aeroport-reunion.html">Aéroport de la Réunion Roland-Garros</a></li>
												<li><a href="location-voiture-sainte-marie.html">Sainte-Marie</a></li>
												<li><a href="mentions-legales.html">Mentions légales</a></li>
											</ul>
				</div>
			</div>      
				<div class="clear"></div>
		</div><!--
-->
	</body>
<!-- Page parsée et évaluée en 0.006 secondes -->

<!-- Mirrored from www.gplocation.fr/mentions-legales.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Aug 2020 05:56:07 GMT -->
</html>