
		<link href="./css/contact.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js%2cjquery-ui-custom/js/jquery-ui-1.8.18.custom.min.js%2cjquery-ui-custom/js/datepicker-fr.js%2ccycle.js%2cjquery.scrollTo-min.j/jquery.fancybox-1.3.4.pack-2.js%2cjquery-u"></script>
		<script type="text/javascript">
			$(document).ready(function(){
		$(".aimglisting, .autotitre, .atextlisting").fancybox({
		'width'				: 800,
		'height'			: 480,
		'autoScale'			: false,
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'type'				: 'iframe',
		'overlayColor'		: '#000'
		});
		});
		</script>
	</head>
	
				<div class="largeur paddingp pbottom20">
				<h1>Mentions légales</h1>	
				<h4>ÉDITEUR :</h4>
					<p>SARL GP Location, Siret : 482 868 478 000 17, SARL au capital de 20 000€<br /> Adresse : 34 Rue de la Plantation - 97438 Sainte-Marie<br /> Téléphone : 0692 370 380<br /> Adresse email : infos@gplocation.fr<br /> Directeur de publication : Vitry Jean François</p>
						<ul>
							<li> Conception / Réalisation du site : SpeedyWeb</li>
							<li> Hébergement : 1&amp;1 Internet SARL au capital de 100 000 euros RCS Sarreguemines B 431 303 775 – Code APE 6201Z<br />Siège social : 7, place de la Gare - BP 70109 - 57201 Sarreguemines Cedex - France</li>
						</ul>
				</div>
				<div class="clear"></div>    
		