<h1>Saint-Marie</h1>

<div id="listev" class="largeur">
<h1>Notre gamme de véhicules de location</h1>
<div class="paddingp">
<p>GP Location est spécialisée dans la location voiture à bas coût, depuis  plus de 10 ans à la Réunion. Toute notre équipe s'efforce au quotidien  de répondre aux exigences de nos clients, en leur proposant des services  adaptés en fonction de leur besoins.</p>
<p>Tous nos véhicules sont contrôlés  entre chaque retour client. Avec GP Location, c'est l'assurance de  rouler avec un vehicule neuf et fiable.</p></p>
</div>
<div class="grid_465">
<div class="fblanc">
<img src="client/cache/produit/_138______c1-2013_116.jpg" height="138" width="189" alt="Catégorie A" class="left paddingp mtop20 mbottom20 imgresp vignvic"/>
<h3 class="autolv">Citroën C1 ou Toyota Aygo</h3>
<ul class="paddingul">
<li>4 places</li>
<li>
Boîte manuelle
</li>
<li>
Essence
</li>
<li>Climatisation : oui</li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="grid_465">
<div class="fblanc">
<img src="client/cache/produit/_138______spark_111.jpg" height="138" width="189" alt="Catégorie B" class="left paddingp mtop20 mbottom20 imgresp vignvic"/>
<h3 class="autolv">Chevrolet Spark</h3>
<ul class="paddingul">
<li>4 places</li>
<li>
Boîte manuelle
</li>
<li>
Essence
</li>
<li>Climatisation : oui</li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="grid_465">
<div class="fblanc">
<img src="client/cache/produit/_138______new_clio_117.jpg" height="138" width="189" alt="Catégorie C+" class="left paddingp mtop20 mbottom20 imgresp vignvic"/>
<h3 class="autolv">Renault Clio 4</h3>
<ul class="paddingul">
<li>5 places</li>
<li>
Boîte manuelle
</li>
<li>
Essence
</li>
<li>Climatisation : oui</li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="grid_465">
<div class="fblanc">
<img src="client/cache/produit/_138______logan_103.jpg" height="138" width="189" alt="Catégorie D Diesel" class="left paddingp mtop20 mbottom20 imgresp vignvic"/>
<h3 class="autolv">Dacia Logan Diesel</h3>
<ul class="paddingul">
<li>5 places</li>
<li>
Boîte manuelle
</li>
<li>
Diesel
</li>
<li>Climatisation : oui</li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="grid_465">
<div class="fblanc">
<img src="client/cache/produit/_138______duster_104.jpg" height="138" width="189" alt="Catégorie E Diesel" class="left paddingp mtop20 mbottom20 imgresp vignvic"/>
<h3 class="autolv">Dacia Duster Diesel</h3>
<ul class="paddingul">
<li>5 places</li>
<li>
Boîte manuelle
</li>
<li>
Diesel
</li>
<li>Climatisation : oui</li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="grid_465">
<div class="fblanc">
<img src="client/cache/produit/_138______duster_104_119.jpg" height="138" width="189" alt="Catégorie E Diesel Auto" class="left paddingp mtop20 mbottom20 imgresp vignvic"/>
<h3 class="autolv">Dacia Duster Diesel Automatique</h3>
<ul class="paddingul">
<li>5 places</li>
<li>
Boîte automatique
</li>
<li>
Diesel
</li>
<li>Climatisation : oui</li>
</ul>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
<h2>Conditions de location</h2>
<div class="paddingp pbottom20">
<p><strong>Age minimum :</strong> 23 ans</p>
<p><strong>Nombre minimum d'années de permis :</strong> 2 ans</p>
<p><strong>Moyens de paiement : </strong>Par carte bancaire en ligne ou pour les réservations de plus de 150€, acompte de 100€ en ligne et le reste à régler sur place par carte bancaire, espèces, chèque ou chèques vacances.</p>
<h3>Assurances</h3>
<p><strong>Assurance :</strong> Tous risques et vol avec franchise</p>
<p><strong>Montant de la franchise :</strong> 750€</p>
<p><strong>Caution :</strong>750€ sur place par empreinte bancaire (non encaissée) </p>
<h3>Prise en charge</h3>
<p><strong>A l'aéroport Roland Garros :</strong> GP Location vous prend en charge personnellement à l'aéroport. Ceci vous évitera d'attendre au comptoir de l'aéroport après de nombreuses heures de vols et de payer la taxe d'aéroport.</p>
<p><strong>A Sainte-Marie :</strong> GP Location vous livre le véhicule à l'adresse de votre choix. Entrez simplement l'adresse dans le système avant le paiement.</p>
</div>
</div>
<div class="clear"></div>    
