<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @tarif_supplementaire.libelle %>
</p>

<%= link_to 'Edit', edit_tarif_supplementaire_path(@tarif_supplementaire) %> |
<%= link_to 'Back', tarif_supplementaires_path %>
