



<div class="demandeavis">
<!-- <script type="text/javascript">
$(document).ready(function(){
$('#forgotmdp').click(function(){
$.fancybox({
'scrolling'		: 'no',
'titleShow'		: false,
'href' : '#formmdp'
});
return false;
});
$('#formmdp').submit(function(){
var params = jQuery("#formmdp").serialize();
$('#inputforgotmdp').hide();
$('#ajax-loader-compte').show();
$("#infos_formmdp").load("/?fond=_ajaxinclude&inc=tunnel_connexion&" + params, function(){
$('#ajax-loader-compte').hide();
});
return false;
});
});
</script> -->
<div class="largeurb pbottom10">
<h1>Connexion au compte GP Location</h1>
<div class="grid_465">  
      <div class="fblanc">
          <div  id="connexion">
            <h3 class="form-connec-h3">J'ai déjà un compte</h3>
             
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                 
                <% end %>

        
            <a href="/clients/password/new" class="forgotmdp">mot de passe oublié</a>
            <%= form_for(resource, as: resource_name, url: new_session_path(resource_name)) do |c| %>
              
           
                  <fieldset class="field">
                  <label  for="email"><span class="label">Mon e-mail </span>
                    <%= c.text_field :email, autofocus: true, autocomplete: "email"%>
                    </label>
                  </fieldset>

                  <fieldset>
                  <label for="motdepasse"><span class="label">Mon mot de passe </span>
                      <%= c.password_field :password, autocomplete: "current-password"%>

                      <%= c.submit 'Valider', class:'lien lienconnec' %> 

                  </label>
                  </fieldset>
            <% end %>
          </div>
       </div>

 

        
      