<h1>Bienvenue sur la page d'accueil</h1>
<div>
	<h2>Liste de toutes les voitures</h2>

</div>
<p>Pour entrer une voiture, cliquez sur <%= link_to 'new', new_voiture_path%></p>

<p>Pour afficher toutes les voitures, cliquez sur <%= link_to 'afficher', voitures_path%></p>
<%= link_to "SE DECONNECTER", destroy_admin_session_path, :method => :delete  %>
