

    <div id="page">
        <div id="header">
            <div id="reduc" class="largeur"><span id="tel"></span>
                <a href="<%= contact_path %>" class="lien right mright68">Contact</a>
                <a href=" " class="lien right mright0">Espace client</a>
                <a href="/"><img src="template/gp-location/img/gp-location.png" width="304" height="70" alt="GP Location"/></a>      
            </div>
        </div>
        <script type="text/javascript">
            $('document').ready(function(){
                $("#boutonmenu").click(function()
                {
                    $('#accordian').toggle();
                    return false;
                });
            });
        </script>
        <div id="sousmenu">
            <div class="largeur">
                <a href="/" id="home"></a>
                <a id="boutonmenu" href="#"></a>
                <div id="accordian">
                    <ul>
                        <li><a href="<%= aeroport_path %>">Aéroport de la Réunion Roland-Garros</a></li>
                        <li><a href=" ">Sainte-Marie</a></li>
                        <li class="right"><a href=" <%= conditions_path%>" >Conditions générales de location</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

